<br>
<br>

<md-autocomplete
	md-selected-item="origin"
	md-search-text="textOrigin"
	md-items="airport in filter(textOrigin)"
	md-search-text-change="searchTextChange"
	md-selected-item-change="selectedItemOneChange(origin)"
	md-item-text="airport.get('iata')+'-'+airport.get('city')"
	md-min-length="0"
	placeholder="Seleccione una Ciudad">
	<md-item-template>
		<span class="item-title">
			<md-icon md-svg-src="img/icons/ic_pointer.svg" class="text" style="width: 24px; height: 24px;"></md-icon>
			<span>{{airport.get("iata")+'-'+airport.get("city")}}</span>
		</span>
	</md-item-template>
	<md-not-found>
	No hay resultados para "{{textOrigin}}".
	</md-not-found>
</md-autocomplete>

<br>
<br>

<md-autocomplete
md-selected-item="destination"
md-search-text="textDestination"
md-items="airport in filter(textDestination)"
md-search-text-change="searchTextChange"
md-selected-item-change="selectedItemTwoChange(destination)"
md-item-text="airport.get('iata')+'-'+airport.get('city')"
md-min-length="0"
placeholder="Seleccione una Ciudad">
<md-item-template>
<span class="item-title">
	<md-icon md-svg-src="img/icons/ic_pointer.svg" class="text" style="width: 24px; height: 24px;"></md-icon>
	<span>{{airport.get("iata")+'-'+airport.get("city")}}</span>
</span>
</md-item-template>
<md-not-found>
No hay resultados para "{{textDestination}}".
</md-not-found>
</md-autocomplete>

<br>
<br>

<md-autocomplete
md-selected-item="itemThree"
md-search-text="textThree"
md-items="airport in filter(textThree)"
md-search-text-change="searchTextChange"
md-selected-item-change="selectedItemThreeChange(itemThree)"
md-item-text="airport.get('iata')+'-'+airport.get('city')"
md-min-length="0"
placeholder="Seleccione una Ciudad">
<md-item-template>
<span class="item-title">
	<md-icon md-svg-src="img/icons/ic_pointer.svg" class="text" style="width: 24px; height: 24px;"></md-icon>
	<span>{{airport.get("iata")+'-'+airport.get("city")}}</span>
</span>
</md-item-template>
<md-not-found>
No hay resultados para "{{textThree}}".
</md-not-found>
</md-autocomplete>

<br>
<br>

<div google-chart chart="chartObject" style="{{cssStyle}}"></div>